<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="me.rahul.plugins.audio-picker"
        version="0.0.7">

        <name>AudioPicker</name>
        <description>Select Audio files Using Media Picker</description>

        <author>Rahul Pandey</author>

        <engines>
            <engine name="cordova" version=">=3.0.0" />
        </engines>

        <js-module name="AudioPicker" src="www/AudioPicker.js">
            <clobbers target="window.plugins.AudioPicker" />
        </js-module>

        <platform name="ios">

            <config-file parent="/*" target="config.xml">
                <feature name="AudioPicker">
                    <param name="ios-package" value="AudioPicker" />
                </feature>
            </config-file>

            <header-file src="src/ios/AudioPicker.h" />
            <source-file src="src/ios/AudioPicker.m" />

            <framework src="MediaPlayer.framework" weak="true" />

        </platform>

        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="AudioPicker" >
                    <param name="android-package" value="me.rahul.plugins.AudioPicker"/>
                </feature>
            </config-file>

            <config-file target="AndroidManifest.xml" parent="/*">
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            </config-file>

            <source-file src="src/android/AudioPicker.java" target-dir="src/me/rahul/plugins" />
            <source-file src="src/android/Base64.java" target-dir="src/me/rahul/plugins" />
     </platform>
</plugin>
