<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="me.rahul.plugins.audio-picker"
        version="0.0.7">

        <name>iOSAudioPicker</name>
        <description>Select Audio files Using Media Picker</description>

        <author>Rahul Pandey</author>

        <engines>
            <engine name="cordova" version=">=3.0.0" />
        </engines>

        <js-module name="iOSAudioPicker" src="www/iOSAudioPicker.js">
            <clobbers target="window.plugins.iOSAudioPicker" />
        </js-module>

        <platform name="ios">

            <config-file parent="/*" target="config.xml">
                <feature name="iOSAudioPicker">
                    <param name="ios-package" value="iOSAudioPicker" />
                </feature>
            </config-file>

            <header-file src="src/ios/iOSAudioPicker.h" />
            <source-file src="src/ios/iOSAudioPicker.m" />

            <framework src="MediaPlayer.framework" weak="true" />

        </platform>
</plugin>
